body{
margin:0;
font-family:Arial;
background:#0f2027;
color:white;
height:100vh;
display:flex;
flex-direction:column;
}

header{
background:#25D366;
padding:15px;
font-size:22px;
font-weight:bold;
}

#login{
text-align:center;
margin-top:100px;
}

#chatApp{
display:none;
flex:1;
flex-direction:column;
}

#chat{
flex:1;
overflow-y:auto;
padding:10px;
}

.message{
max-width:70%;
padding:10px;
margin:5px;
border-radius:10px;
}

.user{
background:#DCF8C6;
color:black;
margin-left:auto;
}

.bot{
background:#ffffff;
color:black;
}

img{
max-width:200px;
border-radius:10px;
}

#controls{
display:flex;
gap:5px;
padding:10px;
background:#222;
}

input{
padding:10px;
border:none;
border-radius:5px;
}

button{
padding:10px;
border:none;
border-radius:5px;
background:#25D366;
color:white;
cursor:pointer;
}
